{% extends "base.html" %}
{% load static %}

{% block title %}
Favouriteslist
{% endblock %}

{% block content %}


<!-- favourites.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-12 pb-5 text-center">
                    <h1 class=>All My Favourite Posts</h1>
                </div>
                {% for post in new %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default-photo.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author bold">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <!-- https://www.djangotemplatetagsandfilters.com/filters/truncatewords/ -->
                            <!-- ensure html tags are not displayed by using DTL striptags -->
                            <h2 class="card-text">{{post.content|truncatewords:20|striptags}} </h2>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


{% endblock %}