{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- A list of all posts -->
                <!-- 'post_list' is determined based on Post model and ListView type -->
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default-photo.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <!-- Tags for displaying author and category -->
                                <div class="image-flash">
                                    <p class="author bold">Author: {{ post.author }}</p>
                                    <p class="author bold">Category: {{ post.category }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <!-- https://www.djangotemplatetagsandfilters.com/filters/truncatewords/ -->
                            <!-- ensure html tags are not displayed by using DTL striptags -->
                            <h2 class="card-text">{{post.content|truncatewords:20|striptags}} </h2>
                            <hr>
                            <!-- Only display date as YYY-MM-DD, without time stamp -->
                            <p class="card-text text-muted h6">{{ post.created_on|date:"Y-m-d" }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Add div if number of posts is divisible by 3 -->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Display PREV and/or NEXT buttons if there is pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link bold"> PREV &laquo;</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link bold"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}